user_id	username	country	rank	badges	badge_ranks	bws	tier	flag	url	image
10505107	Kron05	US	12492	"Azu's Tourneys: owo vs uwu Winning Team
5 Digit Autumn Cup Winning Team
Five Digit Feuds II Winning Team
pls enjoy tournament 2019 Winning Team (10k-50k)
osu! Players Choice Tournament 2 Winner (Tier 3)
Project Rekindling Summer 2018 55k-80k Winner"	5000,10000,10000,10000,15000,55000	3995	2	https://osu.ppy.sh/images/flags/US.png	https://osu.ppy.sh/users/10505107	https://a.ppy.sh/10505107?.png
8059468	savilju	FI	2923	osu!RunnerUps! Winter 2019 2v2 Winning Team	25000	2865	1	https://osu.ppy.sh/images/flags/FI.png	https://osu.ppy.sh/users/8059468	https://a.ppy.sh/8059468?.png
6843383	YoshiLover456	US	21530	"pls enjoy tournament 2019 Winning Team (10k-50k)
Enigmatic Snow Festival 2019 Tier 2 Winning Team
osu! Tandem Tournament 3 (#10000 - #25000) Winning Team
Cindelluna's Winter Tour 2019 Winner (#20000 - #34999)"	10000,10000,10000,20000	14531	2	https://osu.ppy.sh/images/flags/US.png	https://osu.ppy.sh/users/6843383	https://a.ppy.sh/6843383?.png
13720351	Mecha	US	17323			17323	3	https://osu.ppy.sh/images/flags/US.png	https://osu.ppy.sh/users/13720351	https://a.ppy.sh/13720351?.png